@model Category

@{
    ViewData["Title"] = "addCategory";
}

<h1>Add Category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="save_addCategory"asp-controller="category">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="category_name" class="control-label"></label>
                <input asp-for="category_name" class="form-control" />
                <span asp-validation-for="category_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img alter="cat-img"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Category" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
